@font-face {
  font-family: 'Didactic-Mono', "Helvetica", sans-serif;
  src: url("didactic.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'Didactic', "Helvetica", sans-serif;
  src: url("d.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: 400; }
body {
  background: #eee; }

.number,
.cat {
  padding: 0; }

.number {
  padding-right: 8px;
  font-family: 'Didactic-Mono', "Helvetica", sans-serif; }

.listrow {
  margin: 0;
  font-size: 1.8em; }

body, h1, h2, h3, h4 {
  font-family: "Didactic", "Helvetica", sans-serif; }

.submit {
  font-size: 2em;
  border-radius: 3px; }

.headbar > * {
  display: inline-block; }

.headbar {
  padding: 10px; }

.letter {
  font-size: 3em;
  line-height: 0.8; }

.scatlist {
  -webkit-filter: blur(20px);
  -webkit-transition: 500ms ease-in all;
  transition: 500ms ease-in all; }

.rightbutton {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
  vertical-align: middle;
  text-align: center;
  line-height: 100%;
  -webkit-transition: 500ms ease-in all;
  transition: 500ms ease-in all;
  opacity: 0.7; }

.rightbutton:hover,
.medbutton:hover {
  background: #ccc;
  -webkit-transition: 500ms ease-in all;
  transition: 500ms ease-in all; }

.rightbutton .submit {
  height: 100%;
  border: none;
  position: absolute;
  top: 50%;
  height: 100px;
  width: 50px;
  margin-top: -50px;
  margin-left: -25px;
  left: 50%; }

.start_button {
  -webkit-transition: 500ms ease-in all;
  transition: 500ms ease-in all;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }

.medbutton {
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: 500ms ease-in all;
  transition: 500ms ease-in all; }

.timer:hover {
  cursor: pointer; }

.timer-form input[type='text'] {
  width: 100%; }

button {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  text-align: left; }

.timer-form {
  width: 170px;
  margin-bottom: 35px; }

#custom-categories {
  width: 100%; }

.buttons {
  padding: 8px 10px;
  border: 1px solid #606060;
  font-size: .9em;
  margin-bottom: 0; }

.buttons:hover, .buttons:focus {
  background-color: #606060; }

#customize {
  position: absolute;
  top: 10px;
  right: 14px;
  z-index: 2000; }

#customize-overlay {
  width: 100%;
  height: 100%;
  z-index: 3000;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: none; }

#customize-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4000; }

.custom-stuff {
  width: 450px;
  margin: 0 auto;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 40px;
  z-index: 5000; }

.customize-column {
  width: 50%;
  display: inline-block; }

.customize-column-left {
  width: 100%; }

.customize-column-right {
  padding-left: 35px;
  height: 211px;
  overflow-y: auto;
  display: none;
  border-left: 1px solid #ccc; }

.category-row {
  font-size: .9em;
  color: #606060;
  padding-bottom: .3em; }

@media all and (max-width: 667px) {
  .custom-stuff {
    padding: 30px 20px; }

  .customize-column-right {
    padding-left: 0;
    padding-top: 20px;
    height: 100px;
    width: 100%;
    overflow-y: auto;
    border-left: none;
    margin-top: 30px;
    border-top: 1px solid #ccc; } }

/*# sourceMappingURL=style.css.map */
